:root {
  --GradientA: linear-gradient(to top, black, #232323);
  --BrightText: #ffffff;
  --StandardText: #EEEEEE;
  --HyperText: #00a6ff;
  --HoverColor: #000000;
  --SectionABackground: #333333;
  --SectionBBackground: #222222;
  --SectionCBackground: #323232;

  --DefaultFontFamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  --fontSizeH1: 3rem;
  --fontSizeH2: 2rem;
  --fontSizeH3: 1rem;

  --fontSizeP: large;

}

@media only screen and (max-width: 400px) {
  :root {
    --fontSizeH1: 2rem;
    --fontSizeH2: 1rem;
    --fontSizeH3: 1;
    --fontSizeP: medium;
  }
  
}

html, body {
  background-image: var(--GradientA);
  background-repeat: no-repeat;
  background-attachment: local;

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  font-family: var(--DefaultFontFamily);
  text-align: center;

  scroll-behavior: smooth;

}

h1 {
    font-size: var(--fontSizeH1);
    font-weight: bolder;
    color: var(--BrightText);
}
h2 {
  font-size: var(--fontSizeH2);
  font-weight: bold;
  color: var(--BrightText);
}
h3 {
  font-size: var(--fontSizeH3);
  color: var(--BrightText);
}

a {
  font-weight: bolder;
}

p {
  font-size: var(--fontSizeP);
  font-weight: normal;
  color: var(--StandardText);
  background-color: #00000055;
  border-radius: 10px;
  max-width: 65%;
  margin: auto;
}

.about h2 {
  background-color: #00000055;
  border-radius: 10px;
  max-width: 65%;
  margin: auto;
  margin-bottom: 1%;
}

.logo {
  max-width: 1280px;
  min-width: 50px;
  min-height: 6vh;
  max-height: 6vh;
  aspect-ratio: 1;
}

header {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

nav {
  height: 10%;
}

section {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;

  }
  li {
    float: left;
    align-items: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: var(--HoverColor);
  }
  
  .active {
    background-color: var(--HyperText);
  }


  .welcome, .skills, .about {
    position: relative;
    width: 100%;
    min-height: 50%;
    max-height: 50%;
    height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .socials {
    background-color: var(--SectionCBackground);
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the section */
  }
  
  .content {
    position: relative;
    z-index: 10; /* Ensures text stays above the video */
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

.about {
  background-color: var(--SectionABackground);
}

.skills {
  background-color: var(--SectionBBackground);
}
.skills h2 {
  padding-bottom: 0;
}
.skills div {
  padding: 0;
}
.skills ul {
  position: relative;
  list-style-type: disc;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  background: none;
}
.skills ul li {
  float: none;
  align-items: center;
}



.platform-grid {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;

  margin: 0 auto;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: 0px;
 
}

.GitHub, .Twitch, .YouTube {
  position: relative;
  height: 35vh;
  overflow: hidden;
  align-content: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.GitHub {
  background-image: url("../assets/images/platforms/GitHub.png");
}
.Twitch {
  background-image: url("../assets/images/platforms/Twitch.png");
}
.YouTube {
  background-image: url("../assets/images/platforms/YouTube.png");
}



